$color: rgb(243, 134, 37);

.Grades {
  padding: 0 2em;
  min-width: 800px;
  color: rgb(0, 0, 0);

  text-align: left;
  &__Heading {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin: 32px 0px;
  }

  &__Warper {
    &__Heading {
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      border-bottom: 1px solid rgb(238, 238, 238);
      padding: 12px 0px;
      margin-bottom: 12px;
      &__Row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        &:first-child {
          display: flex;
          flex-direction: row;
          flex: 1 1 0%;
          margin-right: 16px;
        }

        &:not(:first-child) {
          width: 125px;
        }

        &:nth-child(4),
        &:nth-child(5) {
          justify-content: center;
        }
      }
    }

    &__Content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
      padding-left: 0.6em;
      border: 1px solid rgb(238, 238, 238);
      color: rgb(31, 31, 31);
      letter-spacing: 0px;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      &__Col {
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
          vertical-align: baseline;
          display: inline;
          padding: 0px;
          text-decoration: none;
          letter-spacing: 0px;
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &__Primary {
          color: $color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        &__Secondary {
          color: #b4b4b4;
          letter-spacing: 0;
          font-size: 0.9rem;
          line-height: 1.5rem;
          font-weight: 400;
        }

        span {
          letter-spacing: 0;
          font-size: 0.9rem;
          line-height: 1.5rem;
          font-weight: 400;
        }
      }

      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Grades {
    padding: 0;
    section {
      overflow: auto;
    }
  }
}
